
<h1>Discente</h1>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="estagio-tab" data-bs-toggle="tab" data-bs-target="#estagio" type="button" role="tab" aria-controls="estagio" aria-selected="true">Estágio</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="discente-tab" data-bs-toggle="tab" data-bs-target="#discente" type="button" role="tab" aria-controls="discente" aria-selected="false">Discente</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="concedente-tab" data-bs-toggle="tab" data-bs-target="#concedente" type="button" role="tab" aria-controls="concedente" aria-selected="false">Concedente</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="supervisor-tab" data-bs-toggle="tab" data-bs-target="#supervisor" type="button" role="tab" aria-controls="supervisor" aria-selected="false">Supervisor</button>
  </li>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="orientador-tab" data-bs-toggle="tab" data-bs-target="#orientador" type="button" role="tab" aria-controls="orientador" aria-selected="false">Orientador</button>
  </li>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="atividades-tab" data-bs-toggle="tab" data-bs-target="#atividades" type="button" role="tab" aria-controls="atividades" aria-selected="false">Atividades</button>
  </li>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="documentos-tab" data-bs-toggle="tab" data-bs-target="#documentos" type="button" role="tab" aria-controls="documentos" aria-selected="false">Documentos em anexo</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="estagio" role="tabpanel" aria-labelledby="estagio-tab">
      <h2>Dados do estágio</h2>
      
      <span>Tipo de estágio</span>
      <input type="radio"/>
      <label for="tipoEstagio">Obrigatório</label>
      <input type="radio"/>
      <label for="tipoEstagio">Não obrigatório</label> 
      
      <span>Tipo de concedente</span>
      <input type="radio"/>
      <label for="tipoConcedente">Interno</label>
      <input type="radio"/>
      <label for="tipoConcedente">Externo</label>

      <span>Tipo de remuneração</span>
      <input type="radio"/>
      <label for="tipoRemuneracao">Remunerado</label>
      <input type="radio"/>
      <label for="tipoRemuneracao">Não remunerado</label> 

      <label for="agenteIntegracao">Agente de Integração</label>
      <input type="text" />
      
      <label for="startDate">Data de início de estágio</label>
      <input id="startDate" class="form-control" type="date" />
      
      <label for="endDate">Data de termino de estágio</label>
      <input id="endDate" class="form-control" type="date" /> 
      
      <h2>Situação do estágio</h2>
            <input type="radio"/>
      <label for="situacaoEstagio">Em andamento</label>
      <input type="radio"/>
      <label for="situacaoEstagio">Finalizado</label> 
      <input type="radio"/>
      <label for="situacaoEstagio">Cancelado</label> 
      <input type="radio"/>



  </div>
  <div class="tab-pane fade" id="discente" role="tabpanel" aria-labelledby="discente-tab">

  </div>
  <div class="tab-pane fade" id="concedente" role="tabpanel" aria-labelledby="concedente-tab">

  </div>
  <div class="tab-pane fade" id="supervisor" role="tabpanel" aria-labelledby="supervisor-tab">

  </div>
  <div class="tab-pane fade" id="orientador" role="tabpanel" aria-labelledby="orientador-tab">

  </div>
  <div class="tab-pane fade" id="atividades" role="tabpanel" aria-labelledby="atividades-tab">

  </div>
  <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos-tab">

  </div>
</div>
