.container-main {
    display: flex;
    height: 97vh;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.container-form {
    display: flex;
    gap: 15px;
    flex-direction: column;
}


.logo {
    width: 30%;
}