@model Estagios.Dtos.UserDto

<div class="container-main">
    <img class="logo" src="Images/Logo_da_UFJF.png" />
    <form asp-action="Login">
        <div class="container-form">
            <h1 class="h3 mb-3 fw-normal">Login</h1>

            <div class="form-floating">
                <input asp-for="Username" type="text" class="form-control" id="floatingInput" placeholder="Matrícula">
                <label for="floatingInput">Matrícula</label>
            </div>
            <div class="form-floating">
                <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                <label for="floatingPassword">Senha</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</div>
