.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    line-height: 1.5;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;


