@model Estagios.Models.Estagio

@{
    ViewData["Title"] = "Cadastro de estágio";
}

<h1>Cadastro de estágio</h1>
<form asp-action="Create" asp-controller="Estagio" method="post">
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="myTab" role="tablist">
            <button class="nav-link active" id="estagio-tab" data-bs-toggle="pill" data-bs-target="#estagio" type="button" role="tab" aria-controls="estagio" aria-selected="true">Estágio</button>
            <button class="nav-link" id="discente-tab" data-bs-toggle="pill" data-bs-target="#discente" type="button" role="tab" aria-controls="discente" aria-selected="false">Discente</button>
            <button class="nav-link" id="concedente-tab" data-bs-toggle="pill" data-bs-target="#concedente" type="button" role="tab" aria-controls="concedente" aria-selected="false">Concedente</button>
            <button class="nav-link" id="supervisor-tab" data-bs-toggle="pill" data-bs-target="#supervisor" type="button" role="tab" aria-controls="supervisor" aria-selected="false">Supervisor</button>
            <button class="nav-link" id="orientador-tab" data-bs-toggle="pill" data-bs-target="#orientador" type="button" role="tab" aria-controls="orientador" aria-selected="false">Orientador</button>
            <button class="nav-link" id="atividades-tab" data-bs-toggle="pill" data-bs-target="#atividades" type="button" role="tab" aria-controls="atividades" aria-selected="false">Atividades</button>
            <button class="nav-link" id="documentos-tab" data-bs-toggle="pill" data-bs-target="#documentos" type="button" role="tab" aria-controls="documentos" aria-selected="false">Documentos em anexo</button>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="estagio" role="tabpanel" aria-labelledby="estagio-tab">
                <div class="row g-3">
                    <h2>Dados do estágio</h2>

                    <div class="col-md-6">
                        <span>Tipo de estágio</span>
                        <input value="Obrigatorio" asp-for="TipoEstagio" type="radio" />
                        <label class="radio-inline" for="tipoEstagio">Obrigatório</label>
                        <input value="NaoObrigatorio" asp-for="TipoEstagio" type="radio" />
                        <label class="radio-inline" for="tipoEstagio">Não obrigatório</label>
                    </div>

                    <div class="col-md-6">
                        <span>Tipo de concedente</span>
                        <input value="Interno" asp-for="TipoConcedente" type="radio" />
                        <label class="radio-inline" for="tipoConcedente">Interno</label>
                        <input value="Externo" asp-for="TipoConcedente" type="radio" />
                        <label class="radio-inline" for="tipoConcedente">Externo</label>
                    </div>

                    <div class="col-md-6">
                        <span>Tipo de remuneração</span>
                        <input value="Remunerado" asp-for="TipoRemuneracao" type="radio" />
                        <label class="radio-inline" for="tipoRemuneracao">Remunerado</label>
                        <input value="NaoRemunerado" asp-for="TipoRemuneracao" type="radio" />
                        <label class="radio-inline" for="tipoRemuneracao">Não remunerado</label>
                    </div>

                    <div class="col-md-6">
                        <label for="agenteIntegracao">Agente de Integração</label>
                        <input class="form-control" asp-for="AgenteIntegracao" type="text" />
                    </div>

                    <div class="col-md-6">
                        <label for="startDate">Data de início de estágio</label>
                        <input class="form-control" asp-for="DataInicioEstagio" id="startDate" class="form-control" type="date" />
                    </div>

                    <div class="col-md-6">
                        <label for="endDate">Data de termino de estágio</label>
                        <input class="form-control" asp-for="DataTerminoEstagio" id="endDate" class="form-control" type="date" />
                    </div>

                    <div class="col-12">
                        <h2>Situação do estágio</h2>
                        <input value="EmAndamento" asp-for="SituacaoEstagio" type="radio" />
                        <label for="situacaoEstagio">Em andamento</label>
                        <input value="Finalizado" asp-for="SituacaoEstagio" type="radio" />
                        <label for="situacaoEstagio">Finalizado</label>
                        <input value="Cancelado" asp-for="SituacaoEstagio" type="radio" />
                        <label for="situacaoEstagio">Cancelado</label>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="discente" role="tabpanel" aria-labelledby="discente-tab">
                <div class="row g-3">
                    <div class="col-12">
                        <h2>Dados do discente</h2>
                        <label for="nomeDiscente">Nome</label>
                        <input class="form-control" asp-for="NomeDiscente" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="cpf">CPF</label>
                        <input class="form-control" asp-for="CPF" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="endereco">Endereço</label>
                        <input class="form-control" asp-for="Endereco" type="text" />
                    </div>
                    <div class="col-12">
                        <label for="dataNascimento">Data de nascimento</label>
                        <input class="form-control" asp-for="DataNascimento" id="dataNascimento" class="form-control" type="date" />
                    </div>
                    <div class="col-12">
                        <label for="matricula">Matrícula</label>
                        <input class="form-control" asp-for="Matricula" type="text" />
                    </div>
                    <div class="col-12">
                        <label for="Curso">Curso</label>
                        <input class="form-control" asp-for="Curso" type="text" />
                    </div>
                    <div class="col-12">
                        <span>Formando</span>
                        <label for="formando">Sim</label>
                        <input value="Formando" asp-for="Formando" type="radio" />
                        <label for="formando">Não</label>
                        <input value="Nao" asp-for="Formando" type="radio" />
                    </div>

                    <div class="col-12">
                        <label for="ira">IRA</label>
                        <input class="form-control" asp-for="Ira" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="email">Email</label>
                        <input class="form-control" asp-for="Email" type="email" />
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="concedente" role="tabpanel" aria-labelledby="concedente-tab">
                <h2>Dados da empresa concedente</h2>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="setorEstagio">Setor do estágio</label>
                        <input class="form-control" asp-for="Setor" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="nomeEmpresa">Nome da empresa</label>
                        <input class="form-control" asp-for="NomeEmpresa" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="nomeResponsavelEmpresa">Nome do responsável pela empresa</label>
                        <input class="form-control" asp-for="NomeResponsavelEmpresa" type="text" />
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="supervisor" role="tabpanel" aria-labelledby="supervisor-tab">
                <h2>Dados do supervisor de estágio</h2>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="nomeSupervisor">Nome do supervisor</label>
                        <input class="form-control" asp-for="NomeSupervisor" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="funcaoSupervisor">Função</label>
                        <input class="form-control" asp-for="FuncaoSupervisor" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="formacaoSupervisor">Formação profissional</label>
                        <input class="form-control" asp-for="FormacaoSupervisor" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="email">Email</label>
                        <input class="form-control" asp-for="EmailSupervisor" type="email" />
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="orientador" role="tabpanel" aria-labelledby="orientador-tab">
                <h2>Dados do orientador</h2>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="disciplina">Disciplina</label>
                        <input class="form-control" asp-for="Disciplina" type="text" />
                    </div>

                    <div class="col-12">
                        <label for="nomeOrientador">Nome</label>
                        <input class="form-control" asp-for="Orientador" type="text" />
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="atividades" role="tabpanel" aria-labelledby="atividades-tab">
                <h2>Dados das atividades</h2>
                <div class="row g-3">
                    <div class="col-12">
                        <textarea asp-for="AtividadeText"></textarea>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos-tab">
                <div class="row g-3">
                    <div class="col-12">
                        <h2>Anexar relatório</h2>
                    </div>
                    <div class="col-12">
                        <input type="file" accept="application/pdf" />
                    </div>
                </div>
            </div>

            <button class="btn btn-outline-primary">Salvar rascunho</button>
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </div>
</form>